<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta content="Codescandy" name="author" />
      <title>SnapMenu</title>
      <!-- Favicon icon-->
      <link rel="shortcut icon" type="image/x-icon" href="../../../static/menu_dashboard/images/favicon/favicon.ico" />

      <!-- Libs CSS -->
      <link href="../../../static/menu_dashboard/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
      <link href="../../../static/menu_dashboard/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
      <link href="../../../static/menu_dashboard/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />


      <!-- Theme CSS -->
      <link rel="stylesheet" href="../../../static/menu_dashboard/css/theme.min.css" />
   </head>

   <body>
     

      <script src="../../../static/menu_dashboard/js/vendors/validation.js"></script>

      <main>

        <!-- section -->
<section class="mb-lg-14 mb-8 mt-8">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-12">
                <div>
                    <div class="mb-8">
                        <!-- text -->
                        <h1 class="fw-bold mb-0">Checkout</h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- accordion -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <!-- accordion item -->
                        <div class="accordion-item py-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- heading one -->
                                <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                    <i class="feather-icon icon-map-pin me-2 text-muted"></i>
                                    Add info
                                </a>
                                <!-- btn -->
                                <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddressModal">click here to add info</a>
                            </div>
                        </div>
                        <!-- accordion item -->
                        <div class="accordion-item py-4">
                            <a href="#" class="text-inherit h5" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <i class="feather-icon icon-credit-card me-2 text-muted"></i>
                                Payment Method
                            </a>
                            <div id="flush-collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                                <div class="mt-5">
                                    <div>
                                        <div class="card card-bordered shadow-none">
                                            <div class="card-body p-6">
                                                <!-- check input -->
                                                <div class="d-flex">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="payment_method" id="cashonDelivery" value="Cash on Delivery" checked />
                                                        <label class="form-check-label ms-2" for="cashonDelivery">Cash on Delivery</label>
                                                    </div>
                                                    <div>
                                                        <!-- title -->
                                                        <h5 class="mb-1 h6">Cash on Delivery</h5>
                                                        <p class="mb-0 small">Pay with cash when your order is delivered.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Button -->
                                        <div class="mt-5 d-flex justify-content-end">
                                            <a href="#" class="btn btn-outline-gray-400 text-muted" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Prev</a>
                                            <button id="checkoutButton" class="btn btn-primary ms-2">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
                    <div class="mt-4 mt-lg-0">
                        <div class="card shadow-sm">
                            <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                            <ul class="list-group list-group-flush" id="orderDetailsList">
                                <!-- Dynamically generated cart items will be inserted here -->
                            </ul>
                            <div class="d-flex align-items-center justify-content-between fw-bold px-4 py-3">
                                <div>Subtotal</div>
                                <div id="cartSubtotal">$0.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Add Info -->
    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- modal body -->
                <div class="modal-body p-6">
                    <div class="d-flex justify-content-between mb-5">
                        <!-- heading -->
                        <div>
                            <h5 class="h6 mb-1" id="addAddressModalLabel">New Shipping Address</h5>
                        </div>
                        <div>
                            <!-- button -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row g-3">
                        <!-- col -->
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name" required />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- button -->
                            <input type="text" class="form-control" placeholder="Business Name" />
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                <!-- label -->
                                <label class="form-check-label" for="flexCheckDefault">Set as Default</label>
                            </div>
                        </div>
                        <!-- button -->
                        <div class="col-12 text-end">
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="button">Save Address</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


      </main>

      <!-- Modal -->
      <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- modal body -->
               <div class="modal-body p-6">
                  <div class="d-flex justify-content-between mb-5">
                     <!-- heading -->
                     <div>
                        <h5 class="h6 mb-1" id="addAddressModalLabel">customer info</h5>
                        
                     </div>
                     <div>
                        <!-- button -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                  </div>
                  <!-- row -->
                  <div class="row g-3">
                     <!-- col -->
                     <div class="col-12">
                        <input type="number" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number" required="" />
                     </div>
                     <!-- col -->
                     <div class="col-12">
                        <input type="text" class="form-control" placeholder="Table Number" aria-label="Table Numner" required="" />
                     </div>
                     <!-- col -->

                     <!-- button -->
                     <div class="col-12 text-end">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="button">Save Address</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script src="../../../static/menu_dashboard/libs/flatpickr/dist/fatpickr.min.js"></script>
      <!-- Libs JS -->
      <!-- <script src="../../../static/menu_dashboard/libs/jquery/dist/jquery.min.js"></script> -->
      <script src="../../../static/menu_dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../../../static/menu_dashboard/libs/simplebar/dist/simplebar.min.js"></script>

      <!-- Theme JS -->
      <script src="../../../static/menu_dashboard/js/theme.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- JavaScript -->
<script>
$(document).ready(function() {
    // Populate order details from localStorage
    function populateOrderDetails() {
        var cart = JSON.parse(localStorage.getItem('cart') || '{}');
        $('#cartData').val(JSON.stringify(cart)); // Set the hidden input value with cart data
        var orderDetails = '';
        var subtotal = 0.00;

        for (var id in cart) {
            var item = cart[id];
            subtotal += item[0] * item[2];
            orderDetails += `
                <li class="list-group-item px-4 py-3">
                    <div class="row align-items-center">
                        <div class="col-2 col-md-2">
                            <img src="${item[3]}" alt="${item[1]}" class="img-fluid" /> <!-- Ensure correct image URL -->
                        </div>
                        <div class="col-5 col-md-5">
                            <h6 class="mb-0">${item[1]}</h6>
                            <span><small class="text-muted">$${item[2].toFixed(2)}</small></span>
                        </div>
                        <div class="col-2 col-md-2 text-center text-muted">
                            <span>${item[0]}</span>
                        </div>
                        <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                            <span class="fw-bold">$${(item[0] * item[2]).toFixed(2)}</span>
                        </div>
                    </div>
                </li>`;
        }

        $('#orderDetailsList').html(orderDetails);
        $('#cartSubtotal').text(`$${subtotal.toFixed(2)}`);
    }

    populateOrderDetails();

    // Checkout button click event
    $('#checkoutButton').click(function(e) {
        e.preventDefault();
        var cart = localStorage.getItem('cart');
        if (!cart) {
            alert("Your cart is empty!");
            return;
        }

        // Set the hidden input value with cart data before submitting
        $('#cartData').val(cart);

        // Form submission
        var form = document.createElement('form');
        form.method = 'post';
        form.action = '{% url "restaurant_checkout" restaurant.id %}';
        form.style.display = 'none';

        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        form.appendChild(csrfToken);

        var paymentMethod = 'Cash on Delivery';  // Since we only have one payment method for now
        var paymentInput = document.createElement('input');
        paymentInput.type = 'hidden';
        paymentInput.name = 'payment_method';
        paymentInput.value = paymentMethod;
        form.appendChild(paymentInput);

        var cartInput = document.createElement('input');
        cartInput.type = 'hidden';
        cartInput.name = 'cart';
        cartInput.value = cart;
        form.appendChild(cartInput);

        console.log("Form Data:", {
            'csrfmiddlewaretoken': csrfToken.value,
            'payment_method': paymentMethod,
            'cart': cartInput.value
        });

        document.body.appendChild(form);
        form.submit();
    });
});
</script>

</body>
</html>
